.nopad {padding-left: 0; padding-right: 0;}
.nopad-left {padding-left: 0;}
.nopad-right {padding-right: 0;}

body {
	background: #F6F4EC;
	font-family: 'Special Elite', Arial;
}

img {
	margin: 0 auto;
}

.col {
	text-align: center;
}